{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class = "content">
    <h1 style="text-align: center;">Update Task</h1>
    <table class="table table-striped">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
            <th>rating</th>
        </tr>
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a class="btn btn-danger" href="/delete/{{task.id}}">Delete</a>
                </td>
                <td>{{ task.rating}}</td>

            </tr>
        </table>

     
        <form action="/update/{{task.id}}" method="POST">
            <input class="form-control" placeholder="Enter task " type="text" name="content" id="content" value="{{task.content}}">
            <input class="form-control" placeholder="Enter rating " type="text" name="rating" id="rating" value="{{task.rating}}">

            <center><input class="btn btn-success" type="submit" value="Update"></center>c>
            </form>
            
</div>

{% endblock %}
